*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    background:linear-gradient(
        135deg,
        #1e293b,
        #334155
    );
}

.container{
    width:400px;

    background:white;

    padding:30px;

    border-radius:20px;

    box-shadow:
    0 10px 30px rgba(0,0,0,.2);

    text-align:center;
}

input{
    width:100%;

    padding:12px;

    border:1px solid #ccc;

    border-radius:10px;

    margin-bottom:10px;
}

button{
    width:100%;

    padding:12px;

    border:none;

    border-radius:10px;

    background:#3b82f6;

    color:white;

    cursor:pointer;

    margin-bottom:10px;
}

button:hover{
    opacity:.9;
}

.weather-card{
    margin-top:25px;

    background:linear-gradient(
        135deg,
        #60a5fa,
        #2563eb
    );

    color:white;

    padding:25px;

    border-radius:20px;

    box-shadow:
    0 10px 30px rgba(0,0,0,.2);

    animation:fadeIn .4s ease;
}

.weather-card h2{
    margin-bottom:10px;
}

.weather-card h1{
    font-size:60px;
    margin:10px 0;
}

.weather-card p{
    margin:8px 0;
}

.forecast{
    margin-top:20px;

    display:grid;

    grid-template-columns:
    repeat(2,1fr);

    gap:10px;
}

.forecast-day{
    background:#f1f5f9;

    color:#1e293b;

    padding:15px;

    border-radius:15px;

    text-align:center;

    font-weight:600;
}

#tempChart{

    margin-top:25px;

    background:white;

    border-radius:20px;

    padding:15px;
}


@keyframes fadeIn{

    from{
        opacity:0;
        transform:translateY(20px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }
}
