*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;

    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    padding:20px;

    background:linear-gradient(
        135deg,
        #0f172a,
        #1e3a8a,
        #38bdf8
    );

    background-size:300% 300%;

    animation:bg 12s ease infinite;
}
.container{
    width:100%;
    max-width:480px;

    margin:20px;

    background:rgba(255,255,255,.95);

    backdrop-filter:blur(15px);

    padding:30px;

    border-radius:24px;

    box-shadow:
        0 20px 60px rgba(0,0,0,.25);

    text-align:center;

    transition:.3s;
}

input{

    width:100%;

    padding:14px;

    border:2px solid #dbeafe;

    border-radius:14px;

    font-size:16px;

    margin-bottom:12px;

    outline:none;

    transition:.25s;

}

input:focus{

    border-color:#2563eb;

    box-shadow:0 0 0 4px rgba(37,99,235,.15);

}


button{

    width:100%;

    padding:14px;

    border:none;

    border-radius:14px;

    background:#2563eb;

    color:white;

    font-size:16px;

    font-weight:bold;

    cursor:pointer;

    margin-bottom:12px;

    transition:.25s;
}

button:hover{

    transform:translateY(-2px);

    box-shadow:0 10px 25px rgba(37,99,235,.35);

}
.weather-card{
    margin-top:25px;

    background:linear-gradient(
        135deg,
        #60a5fa,
        #2563eb
    );

    color:white;

    padding:25px;

    border-radius:20px;

    box-shadow:
    0 10px 30px rgba(0,0,0,.2);

    animation:fadeIn .4s ease;
}

.weather-card h2{
    margin-bottom:10px;
}

.weather-card h1{
    font-size:60px;
    margin:10px 0;
}

.weather-card p{
    margin:8px 0;
}

.forecast{
    margin-top:20px;

    display:grid;

    grid-template-columns:
    repeat(2,1fr);

    gap:10px;
}

.forecast-day{
    background:#f1f5f9;

    color:#1e293b;

    padding:15px;

    border-radius:15px;

    text-align:center;

    font-weight:600;
}

#tempChart{

    margin-top:25px;

    background:white;

    border-radius:20px;

    padding:15px;
}


@keyframes fadeIn{

    from{
        opacity:0;
        transform:translateY(20px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }
}


@keyframes bg{

    0%{
        background-position:0% 50%;
    }

    50%{
        background-position:100% 50%;
    }

    100%{
        background-position:0% 50%;
    }

}
